<div class="app-container">
  <mat-toolbar color="primary">
    <button type="button" aria-label="Toggle navigation menu" mat-icon-button [matMenuTriggerFor]="navMenu">
      <mat-icon aria-label="Navigation menu icon">menu</mat-icon>
    </button>
    <mat-menu #navMenu="matMenu">
      <a mat-menu-item href="#">Reset</a>
      <a mat-menu-item [routerLink]="['/home']">Home</a>
      <a mat-menu-item [routerLink]="['/home', 'base']">Base</a>
      <a mat-menu-item [routerLink]="['/home', 'profile']">Profile</a>
      <a mat-menu-item [routerLink]="['/home', 'settings']">Settings</a>
      <a mat-menu-item [routerLink]="['/home', 'mfe1']">MFE 1</a>
      <a mat-list-item [routerLink]="['/home', 'mfe2']">Irish MFE</a>
      <a mat-menu-item [routerLink]="['/home', 'angry-agent']">Angry Agent</a>
    </mat-menu>
    <span class="app-title">MFE Shell</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
  <div class="content-container">
    <router-outlet />
  </div>
</div>
