.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 250px;
  border-right: 1px solid rgba(0, 0, 0, 0.12);
}

.content {
  padding: 20px;
}

.spacer {
  flex: 1 1 auto;
}

.active-link {
    background-color: rgba(0, 0, 0, 0.05);
}
